.ol1{
    text-align: center;
}

.image1{
    float: right;
}

#p1{
    float: left;
    border: 1px solid #5e4e4e;
}

.div1{
    border: 1PX solid  #5e4e4e;
    padding: 50%;
    background-color: rgb(243, 245, 245);
    text-decoration-color: black;
    font-weight: 100;
}

form{
    width: 70%;
    margin: 10px;
    padding: 10px;
    background: #edeea3;
} 